td {
    padding: 10px;
    background: #ccc;
}

table {
    border: 1px solid #ccc;
    margin-bottom: 32px;
    text-align: left;
}

th {
    font-family: 'Arvo', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    background: #232323;
    color: #FDFEFB;
}

a {
    color: #C30000;
    font-weight: 200;
    text-decoration: none;
}

p, ul, ol, table, dl {
    margin: 0 0 22px;
}

img[alt=drawing] {
    width: 200px;
}

p img, .emoji {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: none;
}



